@{
    Layout = "/Views/Shared/_HomeLayout.cshtml"; // Home sayfasına özel layout
}

@model IEnumerable<PexelsDotNetSDK.PexelsPhoto>

@{
    ViewData["Title"] = "Pexels Photos";
}

<h2>Pexels Photos</h2>

<div>
    @foreach (var photo in Model)
    {
        <img src="@photo.Src.Large" alt="@photo.Photographer" />
    }
</div>
